

#wall .tag-1 {
    display: none;
  }
  
  /* #wall #tag-2 {
    background: url(../images/tag-2.png) no-repeat;
    z-index: 6;
    display: block;
} */

div#wall #tag-2 {
    display: none;
  }
  
  
body div#wall #tag-3.slick
{
    display: none;
}



div#wall #tag-4 {

  display:  none

}

#wall div #tag-5
{
    display:none;
}

body div#wall div.parent div:last-child div#tag-6 
{
    display:none;
}

body div#wall div.parent div:first-child > div#tag-7.slick 
{
    display: none;
}

